.navbar {
  background-color: #1f2937;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 98%;
  border-bottom: 1px solid #374151;
  z-index: 1; /* Ensure it's above everything */
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #60a5fa;
}

.logo:hover{
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links .active {
  color: #60a5fa;
  font-weight: 500;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #60a5fa; /* Nice green background, or any color */
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
}

.auth-button {
  background-color: #1f2937;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #2563eb;
}